#nav {
  padding: 10px;
}

#nav h1 {
  text-align: center;
}

#main {
  position: relative;
}

#caption {
  position: absolute;
  top: 170px;
  left: 410px;
}

tr, td, table {
  border: solid 1px black;
}

table {
  position:absolute;
  top: 180px;
  left: 700px;
}
